<div class="layui-collapse" lay-accordion>
    <div class="layui-colla-item">
        <div class="layui-colla-title">本地空间</div>
        <div class="layui-colla-content">
            <div class="local-storage"></div>
        </div>
    </div>
    <div class="layui-colla-item">
        <div class="layui-colla-title">板卡空间</div>
        <div class="layui-colla-content">
            <div class="board-storage"></div>
        </div>
    </div>
    <div class="layui-colla-item">
        <div class="layui-colla-title">云端空间</div>
        <div class="layui-colla-content">
            <div class="web-storage"></div>
        </div>
    </div>
</div>