.setFontSize {
    position: absolute;
    right: 20px;
    background-image: url('../media/sprites.png');
    width: 32px;
    height: 32px;
    cursor:hand;
    display:none;
}

.setFontSize[m-id="resetFontSize"] {
    bottom: 120px;
    background-position: -96px -92px;
}

.setFontSize[m-id="increaseFontSize"] {
    bottom: 72px;
    background-position: -32px -92px;
}

.setFontSize[m-id="decreaseFontSize"] {
    bottom: 36px;
    background-position: -64px -92px;
}

#content_blocks > div > div {
    padding-top: 0px;
    padding-bottom: 0px;
}


/*Blocks*/
span#span_blocks, span#span_arduino, select#languageMenu {
    color: #fff;
}

div.injectionDiv.classic-theme div.blocklyTreeRow > div > span.blocklyTreeLabel {
    color: #000 !important;
    font-size: 17px;
}

div.injectionDiv.classic-theme div.blocklyTreeRow.blocklyTreeSelected > div > span.blocklyTreeLabel {
    color: #fff !important;
    font-size: 17px;
}

div.injectionDiv.dark-theme div.blocklyTreeRow > div > span.blocklyTreeLabel {
    color: #fff !important;
    font-size: 17px;
}

div.injectionDiv.dark-theme div.blocklyTreeRow.blocklyTreeSelected > div > span.blocklyTreeLabel {
    color: #000 !important;
    font-size: 17px;
}

.blocklyTreeIcon {
    background-image: url('../../common/media/sprites.png');
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto;
}

div.injectionDiv.classic-theme div.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconOpen{ 
    background-position: -16px -17px !important;
}
div.injectionDiv.classic-theme div.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconClosed{ 
    background-position: -32px -17px !important;
}
div.injectionDiv.classic-theme div.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconOpen{ 
    background-position: -16px -1px !important;
}
div.injectionDiv.classic-theme div.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconClosed{ 
    background-position: -32px -1px !important;
}

div.injectionDiv.dark-theme div.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconOpen{ 
    background-position: -16px -17px !important;
}
div.injectionDiv.dark-theme div.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconClosed{ 
    background-position: -32px -17px !important;
}
div.injectionDiv.dark-theme div.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconOpen{ 
    background-position: -16px -1px !important;
}
div.injectionDiv.dark-theme div.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconClosed{ 
    background-position: -32px -1px !important;
}