.blocklyTreeRoot {
    min-width: 155px;
}

.blocklyTreeIconOpen {
    margin: 8px;
}

.blocklyTreeIconClosedLtr {
    margin: 8px;
}

.blocklySvg {
    border-top: none !important;
}

.blocklyToolboxDiv {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px;
}

html[data-bs-theme=dark] .blocklyMainBackground {
    stroke: #000;
}

.blocklyTreeLabel {
    font-size: 17px;
} 

.injectionDiv.classic-theme .blocklyTreeRow .blocklyTreeLabel {
    color: #000 !important;
}

.injectionDiv.classic-theme .blocklyTreeRow.blocklyTreeSelected .blocklyTreeLabel {
    color: #fff !important;
}

.injectionDiv.dark-theme .blocklyTreeRow .blocklyTreeLabel {
    color: #fff !important;
}

.injectionDiv.dark-theme .blocklyTreeRow.blocklyTreeSelected .blocklyTreeLabel {
    color: #000 !important;
}

#catSearch.blocklyTreeRow .blocklyTreeIcon {
    background: url('../../common/media/mark/search.png') no-repeat;
    background-size: 100% auto;
}
#catSearch.blocklyTreeRow.blocklyTreeSelected .blocklyTreeIcon {
    background: url('../../common/media/mark/search2.png') no-repeat;
    background-size: 100% auto;
}

.blocklyTreeRow > .blocklyTreeRowContentContainer {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
}

.blocklyTreeRow .blocklyTreeIcon { 
    width: 20px;
    height: 20px;
    float: left;
    margin: 8px;
    background: url('../../common/media/mark/default.png') no-repeat;
    background-size: 100% auto; 
}

.blocklyTreeRow.blocklyTreeSelected .blocklyTreeIcon { 
    background: url('../../common/media/mark/default2.png') no-repeat;
    background-size: 100% auto; 
}

.blocklyTreeRow .blocklyTreeIcon.blocklyTreeIconOpen,
.blocklyTreeRow .blocklyTreeIcon.blocklyTreeIconClosed {
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto !important;
}

.classic-theme .blocklyTreeRow.blocklyTreeSelected .blocklyTreeIcon.blocklyTreeIconOpen {
    background-image: url('../../common/media/sprites.png') !important;
    background-position: -16px -17px !important;
}

.classic-theme .blocklyTreeRow.blocklyTreeSelected .blocklyTreeIcon.blocklyTreeIconClosed {
    background-image: url('../../common/media/sprites.png') !important;
    background-position: -32px -17px !important;
}

.classic-theme .blocklyTreeRow .blocklyTreeIcon.blocklyTreeIconOpen {
    background-image: url('../../common/media/sprites.png') !important;
    background-position: -16px -1px !important;
}

.classic-theme .blocklyTreeRow .blocklyTreeIcon.blocklyTreeIconClosed {
    background-image: url('../../common/media/sprites.png') !important;
    background-position: -32px -1px !important;
}

.dark-theme .blocklyTreeRow .blocklyTreeIcon.blocklyTreeIconOpen {
    background-image: url('../../common/media/sprites.png') !important;
    background-position: -16px -17px !important;
}

.dark-theme .blocklyTreeRow .blocklyTreeIcon.blocklyTreeIconClosed {
    background-image: url('../../common/media/sprites.png') !important;
    background-position: -32px -17px !important;
}

.dark-theme .blocklyTreeRow.blocklyTreeSelected .blocklyTreeIcon.blocklyTreeIconOpen {
    background-image: url('../../common/media/sprites.png') !important;
    background-position: -16px -1px !important;
}

.dark-theme .blocklyTreeRow.blocklyTreeSelected .blocklyTreeIcon.blocklyTreeIconClosed {
    background-image: url('../../common/media/sprites.png') !important;
    background-position: -32px -1px !important;
}

.classic-theme.blocklyDropDownDiv,
.classic-theme.blocklyWidgetDiv .blocklyMenu {
    background: #fff;
    border: 1px solid #bebebe;
}

.classic-theme .blocklyMenu > .blocklyMenuItem {
    background-color: #fff;
    margin: 2px 5px;
    border-radius: 5px;
    box-sizing: content-box;
    padding: 0.2em 1em;
    font-size: 14px;
    color: #000;
    min-width: 9em;
}

.classic-theme .blocklyMenu > .blocklyMenuItem.blocklyMenuItemHighlight {
    background-color: #009688;
    color: #fff;
}

.classic-theme .blocklyMenu > .blocklyMenuItem.blocklyMenuItemDisabled {
    color: #ccc;
}

.classic-theme .blocklyMenu > .blocklyMenuItem.blocklyMenuItemSelected {
    background-color: rgb(0 150 136 / 60%);
    color: #fff;
}

.classic-theme .blocklyMenu > .blocklyMenuItem.blocklyMenuItemSelected .blocklyMenuItemCheckbox {
    display: none;
}

.dark-theme.blocklyDropDownDiv,
.dark-theme.blocklyWidgetDiv .blocklyMenu {
    background: #1f1f1f;
    border: 1px solid #3b3b3b;
}

.dark-theme .blocklyMenu > .blocklyMenuItem {
    background-color: #1f1f1f;
    margin: 2px 5px;
    border-radius: 5px;
    box-sizing: content-box;
    padding: 0.2em 1em;
    font-size: 14px;
    color: #eee;
    min-width: 9em;
}

.dark-theme .blocklyMenu > .blocklyMenuItem.blocklyMenuItemHighlight {
    background-color: #2980b9;
}

.dark-theme .blocklyMenu > .blocklyMenuItem.blocklyMenuItemDisabled {
    color: #919191;
}

.dark-theme .blocklyMenu > .blocklyMenuItem.blocklyMenuItemSelected {
    background-color: rgb(41 128 185 / 60%);
}

.dark-theme .blocklyMenu > .blocklyMenuItem.blocklyMenuItemSelected .blocklyMenuItemCheckbox {
    display: none;
}

.blocklyToolboxDelete > .blocklyToolboxContents > .blocklyToolboxCategory > .blocklyTreeRow {
    background-color: unset;
}