.blocklyTreeRoot {
    min-width: 155px;
}

.blocklyTreeIconOpen {
    margin: 8px;
}

.blocklyTreeIconClosedLtr {
    margin: 8px;
}

.blocklySvg {
    border-top: none !important;
}

.blocklyToolboxDiv {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px;
}

.dark .blocklyMainBackground {
    stroke: #000;
}

div.injectionDiv.classic-theme div.blocklyTreeRow > div > span.blocklyTreeLabel {
    color: #000 !important;
    font-size: 17px;
}

div.injectionDiv.classic-theme div.blocklyTreeRow.blocklyTreeSelected > div > span.blocklyTreeLabel {
    color: #fff !important;
    font-size: 17px;
}

div.injectionDiv.dark-theme div.blocklyTreeRow > div > span.blocklyTreeLabel {
    color: #fff !important;
    font-size: 17px;
}

div.injectionDiv.dark-theme div.blocklyTreeRow.blocklyTreeSelected > div > span.blocklyTreeLabel {
    color: #000 !important;
    font-size: 17px;
}

.blocklyMainBackground {
    stroke-width: 0;
}

#block-editor .blocklyToolboxContents {
    padding-top: 3px;
}

#catSearch.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background: url('../../common/media/mark/search.png') no-repeat;
    background-size: 100% auto;
}
#catSearch.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon{
    background: url('../../common/media/mark/search2.png') no-repeat;
    background-size: 100% auto;
}

.blocklyTreeRow > .blocklyTreeRowContentContainer {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
}

div.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon { 
    width: 20px;
    height: 20px;
    float: left;
    margin: 8px;
    background: url('../../common/media/mark/default.png') no-repeat;
    background-size: 100% auto; 
}

div.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon { 
    background: url('../../common/media/mark/default2.png') no-repeat;
    background-size: 100% auto; 
}

div.injectionDiv.classic-theme div.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconOpen {
    background-image: url('../../common/media/sprites.png') !important;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto !important;
    background-position: -16px -17px !important;
}

div.injectionDiv.classic-theme div.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconClosed {
    background-image: url('../../common/media/sprites.png') !important;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto !important;
    background-position: -32px -17px !important;
}

div.injectionDiv.classic-theme div.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconOpen {
    background-image: url('../../common/media/sprites.png') !important;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto !important;
    background-position: -16px -1px !important;
}

div.injectionDiv.classic-theme div.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconClosed {
    background-image: url('../../common/media/sprites.png') !important;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto !important;
    background-position: -32px -1px !important;
}

div.injectionDiv.dark-theme div.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconOpen {
    background-image: url('../../common/media/sprites.png') !important;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto !important;
    background-position: -16px -17px !important;
}

div.injectionDiv.dark-theme div.blocklyTreeRow > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconClosed {
    background-image: url('../../common/media/sprites.png') !important;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto !important;
    background-position: -32px -17px !important;
}

div.injectionDiv.dark-theme div.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconOpen {
    background-image: url('../../common/media/sprites.png') !important;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto !important;
    background-position: -16px -1px !important;
}

div.injectionDiv.dark-theme div.blocklyTreeRow.blocklyTreeSelected > div.blocklyTreeRowContentContainer > span.blocklyTreeIcon.blocklyTreeIconClosed {
    background-image: url('../../common/media/sprites.png') !important;
    height: 16px;
    vertical-align: middle;
    width: 16px;
    margin: 10px;
    background-size: auto !important;
    background-position: -32px -1px !important;
}

.blocklyDropDownDiv.dark-theme {
    border-color: #000000;
    background-color: #353535;
}

.blocklyDropDownDiv.dark-theme .blocklyMenuItem {
    color: #fff;
}

.blocklyWidgetDiv.dark-theme > .blocklyMenu {
    background: #353535;
}

.blocklyWidgetDiv.dark-theme > .blocklyMenu > .blocklyMenuItemDisabled {
    color: #919191;
}

.blocklyWidgetDiv.dark-theme > .blocklyMenu > .blocklyMenuItemHighlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.blocklyWidgetDiv.dark-theme > .blocklyMenu > div {
    color: #fff;
}