#table_whole {
    height: calc(100vh - 2.6em) !important;
}

:root {
    --app-top-height: 30px;
    --app-bottom-height: 22px;
}

/*@media screen and (max-width: 1920px) {
    :root {
        --app-top-height: 30px;
        --app-bottom-height: 22px;
    }
}

@media screen and (min-width: 1920px) {
    :root {
        --app-top-height: 40px;
        --app-bottom-height: 32px;
    }
}*/

.layui-form-label > .layui-unselect.layui-form-checkbox > span {
    height: 25px;
}

.layui-layout-left {
    position: absolute !important;
    left: 0px;
    top: 0;
}

#nav .layui-nav-child {
    max-height: calc(100vh - var(--nav-height) - 12px);
    line-height: 30px;
    overflow-y: auto;
}

#nav {
    padding: 0 10px;
    height: var(--nav-height);
    z-index:1100;
    max-height: var(--nav-height);
}

html[data-bs-theme=light] #nav {
    background-color: #009688 !important;
}

html[data-bs-theme=dark] #nav {
    background-color: #3c3c3c !important;
}

#nav .layui-nav-item {
    line-height: var(--nav-height);
}

#nav .layui-select-title {
    position: absolute;
}

#nav .layui-form-selected {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

#nav .layui-form-selected .layui-anim {
    position: relative;
}

#nav .layui-anim .layui-this:after {
    width: 0%;
}

#nav #nav-left-btn-list button {
    height: var(--nav-left-btn-height);
    line-height: var(--nav-left-btn-height);
    font-size: calc(var(--nav-left-btn-font-size) + 4px);
}

#nav #nav-right-btn-list button {
    height: var(--nav-right-btn-height);
}

#nav #nav-left-btn-list button > a {
    font-size: var(--nav-left-btn-font-size);
}

#nav #nav-right-btn-list button > a {
    font-size: var(--nav-right-btn-font-size);
}

#nav .layui-nav-child {
    top: calc(var(--nav-height) + 1px);
}

#nav input {
    height: var(--nav-select-height) !important;
}

html[data-bs-theme=light] #nav input {
    background-color: #009f90;
    border-color: #009f90;
    color: #fff;
}

html[data-bs-theme=light] #nav input:hover,
html[data-bs-theme=light] #nav input:focus {
    border-color: #037a6f !important;
}

html[data-bs-theme=dark] #nav input:hover,
html[data-bs-theme=dark] #nav input:focus {
    border-color: #1f1f1f !important;
}

#nav input::-webkit-input-placeholder,
#nav input::-webkit-input-placeholder {
    color: #ddd;
}

#nav .layui-input {
    border-radius: 3px;
}

#nav .layui-form input {
    height: 24px;
}

#nav .layui-form dl {
    top: calc(var(--nav-select-height) + (var(--nav-height) - var(--nav-select-height)) / 2);
    padding: 3px 0;
}

#nav .layui-form dl > dd {
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

html[data-bs-theme=light] #nav .layui-anim > dd {
    color: rgba(0, 0, 0, 0.8);
}

html[data-bs-theme=light] #nav .layui-anim > dd.layui-this {
    color: rgba(255, 255, 255, 0.8);
}

html[data-bs-theme=dark] #nav .layui-anim > dd {
    color: rgba(255, 255, 255, 0.8);
}

html[data-bs-theme=dark] #nav .layui-anim > dd.layui-this {
    color: rgba(0, 0, 0, 0.8);
}

html[data-bs-theme=dark] #nav .layui-anim > dd > button {
    border-color: #5a6778;
}

#nav .layui-anim > dd > button:hover {
    box-shadow: unset;
    opacity: .8;
}

#nav .layui-anim > dd > button > i {
    line-height: 12px;
}

.layui-nav .layui-nav-item a {
    padding: 0 17px !important;
}

* {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*#copyright {
    font-family: "YaHei Consolas Hybrid", "Microsoft Yahei Light", "Arial";
    font-size: 12px;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    flex-direction: row;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}*/

.layui-nav .layui-nav-item a {
    position: relative;
    overflow: hidden;
}

.layui-nav .layui-nav-item a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 0.5s;
}

.layui-nav .layui-nav-item a:active:after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
}

html[data-bs-theme=dark] .content {
    background-color: #181818;
}

html[data-bs-theme=light] .content {
    background-color: #fff;
}

html[data-bs-theme=dark] #table_whole {
    background-color: #181818 !important;
}

html[data-bs-theme=light] #table_whole {
    background-color: #fff;
}

html[data-bs-theme=light] .layui-form-select dl dd.layui-this {
    background-color: #009688 !important;
}

html[data-bs-theme=dark] .layui-form-select dl dd.layui-this {
    background-color: #007acc !important;
}

#boardSelector > div.layui-unselect.layui-form-select > dl {
    overflow-y: auto;
}

html[data-bs-theme=light] .layui-layer-tips .layui-layer-content {
    background-color: #f2f2f2;
    color: #000;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

html[data-bs-theme=dark] .layui-layer-tips .layui-layer-content {
    background-color: #646363;
    color: #fff;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

.footer-tips .layui-layer-content {
    padding: 3px 12px;
}

html[data-bs-theme=light] .layui-layer-tips i.layui-layer-TipsL {
    border-left-color: #f2f2f2;
}

html[data-bs-theme=dark] .layui-layer-tips i.layui-layer-TipsL {
    border-left-color: #646363;
}

html[data-bs-theme=light] .layui-layer-tips i.layui-layer-TipsR {
    border-right-color: #f2f2f2;
}

html[data-bs-theme=dark] .layui-layer-tips i.layui-layer-TipsR {
    border-right-color: #646363;
}

html[data-bs-theme=light] .layui-layer-tips i.layui-layer-TipsT {
    border-top-color: #f2f2f2;
}

html[data-bs-theme=dark] .layui-layer-tips i.layui-layer-TipsT {
    border-top-color: #646363;
}

html[data-bs-theme=light] .layui-layer-tips i.layui-layer-TipsB {
    border-bottom-color: #f2f2f2;
}

html[data-bs-theme=dark] .layui-layer-tips i.layui-layer-TipsB {
    border-bottom-color: #646363;
}

.layui-table-fixed-r > .layui-table-header {
    border-bottom-width: 0px;
}

.layui-table-fixed-r > .layui-table-body > table {
    width: 100%;
}

html[data-bs-theme=dark] .layui-table-body .layui-none {
    color: #fff;
}

html[data-bs-theme=dark] .layui-form-checkbox[lay-skin=primary] span {
    color: #fff;
}

.editor-dropdown-menu {
    min-width: 100px;
    border-radius: 4px;
}

.editor-dropdown-menu > .layui-menu > li {
    padding: 1px 10px;
}

html[data-bs-theme=dark] .editor-dropdown-menu {
    background-color: #615959;
}

html[data-bs-theme=dark] .editor-dropdown-menu > .layui-menu {
    background-color: #615959;
}

html[data-bs-theme=dark] .editor-dropdown-menu > .layui-menu > li > div {
    color: rgb(255 255 255 / 80%);
    padding: 0px;
    margin: 0px;
}

html[data-bs-theme=light] .editor-dropdown-menu {
    background-color: #fff;
}

html[data-bs-theme=light] .editor-dropdown-menu > .layui-menu {
    background-color: #fff;
}

html[data-bs-theme=light] .editor-dropdown-menu > .layui-menu > li > div {
    color: rgb(0 0 0 / 80%);
    padding: 0px;
    margin: 0px;
}

html[data-bs-theme=light] .layui-menu li:hover {
    background-color: #e9e9e9;
}

html[data-bs-theme=dark] #div_top, html[data-bs-theme=dark] #mid_td {
    background: #979292 !important;
}

#nav button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 0.5s;
}

#nav button:active:after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
}

#nav button {
    position: relative;
    overflow: hidden;
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

html[data-bs-theme=light] #nav button {
    border-color: #009688;
    color: #fff;
}

html[data-bs-theme=dark] #nav button {
    border-color: #3c3c3c;
}

html[data-bs-theme=light] #nav button:active {
    border: 1px solid #009688 !important;
}

html[data-bs-theme=dark] #nav button:active {
    border: 1px solid #2f4056 !important;
}

#nav button:hover {
    opacity: 1;
}

html[data-bs-theme=light] #nav button:hover {
    box-shadow: inset 2px 0px 5px #169084;
    /*box-shadow: none;*/
    border-color: #19897f;
}

html[data-bs-theme=dark] #nav button:hover {
    box-shadow: 2px 0px 5px #303030;
    /*box-shadow: none;*/
    border-color: #434242;
}

#nav button:hover a {
    color: #fff;
}

#nav button > a {
    color: rgba(255,255,255,.7);
    -webkit-transition: all .3s;
}

html[data-bs-theme=light] #nav button > a:hover {
    color: #fff;
}

#nav-left-btn-list > button,
#nav-right-btn-list > button {
    margin: 2px;
}

html[data-bs-theme=light] .layui-table-tips-main {
    background-color: #fff;
    color: #5f5f5f;
}

html[data-bs-theme=dark] .layui-table-tips-main {
    background-color: #8d8888;
    color: #fff;
}

html[data-bs-theme=light] input[m-id="search-area"] {
    background-color: #f3efef;
    border-color: #ddd;
}

html[data-bs-theme=light] input[m-id="search-area"] + button.layui-btn-disabled {
    background-color: #f3efef !important;
}

#before-test:before {
    content: "";
    border-left: 2px solid;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    position: absolute;
}

#btn-test {
    opacity: 0.5;
}

#btn-test:hover {
    opacity: 1;
}