.progress1 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 15px;
    border-radius: 2px;
    font-size: 16px;
}

.light .progress1 {
    color: rgb(0, 150, 136);
    background-color: rgba(0, 150, 136, 0.12);
}

.dark .progress1 {
    color: rgb(33, 150, 243);
    background-color: rgba(33, 150, 243, 0.12);
}

.progress1::-webkit-progress-bar {
    background-color: transparent;
}
/* Determinate */

.progress1::-webkit-progress-value {
    background-color: currentColor;
    transition: all 0.2s;
}

.progress1::-moz-progress-bar {
    background-color: currentColor;
    transition: all 0.2s;
}

.progress1::-ms-fill {
    border: none;
    background-color: currentColor;
    transition: all 0.2s;
}
/* Indeterminate */

.progress1:indeterminate {
    background-size: 200% 100%;
    background-image: linear-gradient(
        to right,
        transparent 50%,
        currentColor 50%,
        currentColor 60%,
        transparent 60%,
        transparent 71.5%,
        currentColor 71.5%,
        currentColor 84%,
        transparent 84%
    );
    animation: progress1 2s infinite linear;
}

.progress1:indeterminate::-moz-progress-bar {
    background-color: transparent;
}

.progress1:indeterminate::-ms-fill {
    animation-name: none;
}

@keyframes progress1 {
    0% {
        background-size: 200% 100%;
        background-position: left -31.25% top 0%;
    }
    50% {
        background-size: 800% 100%;
        background-position: left -49% top 0%;
    }
    100% {
        background-size: 400% 100%;
        background-position: left -102% top 0%;
    }
}