/* 全局滚动条样式 */

/* 设置滚动条宽高 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* 设置滚动条滑槽 */
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* 设置滚动条滑块 */
::-webkit-scrollbar-thumb {
    background-color: #C3C1C1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #AEB2AF;
}

::-webkit-scrollbar-thumb:active {
    background-color: #989998;
}

/* 设置滚动条滑块 */
.light ::-webkit-scrollbar-thumb {
    background-color: #C3C1C1;
    border-radius: 4px;
}

.light ::-webkit-scrollbar-thumb:hover {
    background-color: #AEB2AF;
}

.light ::-webkit-scrollbar-thumb:active {
    background-color: #989998;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #989998;
    border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: #AEB2AF;
}

.dark ::-webkit-scrollbar-thumb:active {
    background-color: #C3C1C1;
}

/* 设置滚动条宽高 */
.scrollbar1 ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* 设置滚动条滑槽 */
.scrollbar1 ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
}

/* 设置滚动条滑块 */
.light .scrollbar1 ::-webkit-scrollbar-thumb {
    background-color: #C3C1C1;
    border-radius: 4px;
}

.light .scrollbar1 ::-webkit-scrollbar-thumb:hover {
    background-color: #AEB2AF;
}

.light .scrollbar1 ::-webkit-scrollbar-thumb:active {
    background-color: #989998;
}

.dark .scrollbar1 ::-webkit-scrollbar-thumb {
    background-color: #989998;
    border-radius: 4px;
}

.dark .scrollbar1 ::-webkit-scrollbar-thumb:hover {
    background-color: #AEB2AF;
}

.dark .scrollbar1 ::-webkit-scrollbar-thumb:active {
    background-color: #C3C1C1;
}

.light ::-webkit-resizer {
    background: url('../../common/media/resize-dark.png') no-repeat;
    background-size: 100% auto;
}

.dark ::-webkit-resizer {
    background: url('../../common/media/resize-light.png') no-repeat;
    background-size: 100% auto;
}

.light ::-webkit-scrollbar-corner {
    background-color: #fff;
}

.dark ::-webkit-scrollbar-corner {
    background-color: #fff;
}