html[data-bs-theme='light'] .loading {
    position: absolute;
    z-index: 100000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

html[data-bs-theme='light'] .loading .left-div {
    position: absolute;
    left: 0px;
    top: var(--nav-height);
    bottom: var(--footer-height);
    width: 160px;
    background-color: #ddd;
    border-radius: 2px;
    opacity: 0.9;
}

html[data-bs-theme='light'] .loading .top-div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: var(--nav-height);
    background-color: #009688;
    border-radius: 2px;
    opacity: 0.9;
}

html[data-bs-theme='light'] .loading .bottom-div {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: var(--footer-height);
    width: 100%;
    background-color: #009688;
    border-radius: 2px;
    opacity: 0.9;
}

html[data-bs-theme='light'] body {
    background-color: #fff !important;
}

html[data-bs-theme='dark'] .loading {
    position: absolute;
    z-index: 100000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #181818
}

html[data-bs-theme='dark'] .loading .left-div {
    position: absolute;
    left: 0px;
    top: var(--nav-height);
    bottom: var(--footer-height);
    width: 160px;
    background-color: #333333;
    border-radius: 2px;
    opacity: 0.9;
}

html[data-bs-theme='dark'] .loading .top-div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: var(--nav-height);
    background-color: #2F4056;
    border-radius: 2px;
    opacity: 0.9;
}

html[data-bs-theme='dark'] .loading .bottom-div {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: var(--footer-height);
    width: 100%;
    background-color: #007acc;
    border-radius: 2px;
    opacity: 0.9;
}

html[data-bs-theme='dark'] body {
    background-color: #181818 !important;
}