.loading {
    position: absolute;
    z-index: 100000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

html[data-bs-theme=light] .loading {
    background-color: #fff;
}

html[data-bs-theme=dark] .loading {
    background-color: #181818;
}

.loading .left-div {
    position: absolute;
    left: 0px;
    top: var(--nav-height);
    bottom: var(--footer-height);
    width: 40px;
    border-radius: 2px;
    opacity: 0.9;
}

html[data-bs-theme=light] .loading .left-div {
    background-color: #ddd;
}

html[data-bs-theme=dark] .loading .left-div {
    background-color: #434343;
}

.loading .top-div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: var(--nav-height);
    border-radius: 2px;
    opacity: 0.9;
}

html[data-bs-theme=light] .loading .top-div {
    background-color: #009688;
}

html[data-bs-theme=dark] .loading .top-div {
    background-color: #3c3c3c;
}

.loading .bottom-div {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: var(--footer-height);
    width: 100%;
    border-radius: 2px;
    opacity: 0.9;
}

html[data-bs-theme=light] .loading .bottom-div {
    background-color: #009688;
}

html[data-bs-theme=dark] .loading .bottom-div {
    background-color: #007acc;
}

html[data-bs-theme=light] > body {
    background-color: #fff !important;
}

html[data-bs-theme=dark] > body {
    background-color: #181818 !important;
}