html[data-bs-theme=light] .tippy-box {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
    color: #000;
    border-radius: 0.25rem;
}

html[data-bs-theme=light] .tippy-arrow {
    color: rgba(255,255,255,.85);
}

html[data-bs-theme=dark] .tippy-box {
    background-color: #353535;
    background-clip: padding-box;
    border: 1px solid rgba(255,255,255,.1);
    box-shadow: 0 0.25rem 0.75rem rgb(255 255 255 / 10%);
    color: #fff;
    border-radius: 0.25rem;
}

html[data-bs-theme=dark] .tippy-box .layui-layer-title {
    background-color: #353535;
}

html[data-bs-theme=dark] .tippy-arrow {
    color: #353535;
}

.tippy-content .m-btn {
    font-size: 12px;
    line-height: 12px;
    border-radius: 5px;
    box-sizing: content-box;
    padding: 4px 10px !important;
    margin: 2px 0px;
    border-radius: 5px;
    min-width: unset;
    cursor: pointer;
}

.tippy-content .m-btn:hover {
    color: #fff !important;
}

html[data-bs-theme=light] .tippy-content .m-btn {
    color: #000;
}

html[data-bs-theme=light] .tippy-content .m-btn:hover {
    background-color: #009688;
}

html[data-bs-theme=light] .tippy-content .m-btn.selected {
    background-color: rgb(0 150 136 / 60%);
}

html[data-bs-theme=dark] .tippy-content .m-btn {
    color: #fff;
}

html[data-bs-theme=dark] .tippy-content .m-btn:hover {
    background-color: #2980b9;
}

html[data-bs-theme=dark] .tippy-content .m-btn.selected {
    background-color: rgb(41 128 185 / 60%);
}