<style>
    .select2-dropdown.mixly-{{d.mId}} {
        width: 100% !important;
        transform: translate(calc(-50% + 75px), calc((var(--nav-height) - var(--nav-select-height)) / 2));
    }

    .select2-dropdown.mixly-{{d.mId}} li {
        white-space: nowrap !important;
    }

    html[data-bs-theme=dark] .select2-dropdown.mixly-{{d.mId}} > .select2-search > input {
        border-color: var(--lay-color-border-1);
    }

    html[data-bs-theme=dark] .select2-dropdown.mixly-{{d.mId}} > .select2-search > input:focus {
        border-color: var(--app-dark-color) !important;
    }

    html[data-bs-theme=dark] select[m-id="{{d.mId}}"] + .select2 > .selection > .select2-selection {
        background-color: var(--lay-color-fill-2);
        border-color: var(--lay-color-border-1);
        border-radius: 3px;
    }

    body > .select2-container:has(.mixly-{{d.mId}}) {
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-name: layui-upbit;
    }
</style>
<select m-id={{d.mId}} id="boards-type"></select>