/*@font-face {
  font-family: "Octicons Regular";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/octicons.woff2") format("woff2");
}
.jstree-anchor {
  outline: none;
  padding-right: 0;
  text-decoration: none;
  width: calc(100% - 24px);
  display: inline-flex;
}
.jstree-anchor:hover {
  text-decoration: none !important;
}
.jstree-anchor .gm-tree-file-info {
  font-size: 12px;
  line-height: 26px;
  text-align: right;
  width: 80px;
}
.jstree-anchor[data-file-count].gm-show-file-info {
  width: calc(100% - 24px);
}
.jstree-anchor[data-file-count].gm-show-file-info .jstree-anchor-inner {
  width: calc(100% - 24px);
}
.jstree-anchor[data-file-size].gm-show-file-info {
  width: calc(100% - 24px);
}
.jstree-anchor[data-file-size].gm-show-file-info .jstree-anchor-inner {
  width: calc(100% - 24px);
}
.jstree-anchor-inner {
  outline: none;
  padding-right: 0;
  text-decoration: none;
  width: calc(100%);
  display: inline-flex;
}
.jstree-default .jstree-container-ul {
  max-width: 100%;
  outline: none;
}
.jstree-default .jstree-container-ul > .jstree-node {
  margin-left: 0px;
}
.jstree-default .jstree-node {
  line-height: 24px;
  margin-left: 16px;
}
.jstree-default .jstree-node[aria-level='1'] > .jstree-anchor[data-file-size].gm-show-file-info,
.jstree-default .jstree-node[aria-level='2'] > .jstree-anchor[data-file-size].gm-show-file-info,
.jstree-default .jstree-node[aria-level='3'] > .jstree-anchor[data-file-size].gm-show-file-info,
.jstree-default .jstree-node[aria-level='4'] > .jstree-anchor[data-file-size].gm-show-file-info,
.jstree-default .jstree-node[aria-level='1'] > .jstree-anchor[data-file-count].gm-show-file-info,
.jstree-default .jstree-node[aria-level='2'] > .jstree-anchor[data-file-count].gm-show-file-info,
.jstree-default .jstree-node[aria-level='3'] > .jstree-anchor[data-file-count].gm-show-file-info,
.jstree-default .jstree-node[aria-level='4'] > .jstree-anchor[data-file-count].gm-show-file-info {
  width: calc(100% - 24px);
}
.jstree-default .jstree-node[aria-level='1'] > .jstree-anchor[data-file-size].gm-show-file-info > .jstree-anchor-inner,
.jstree-default .jstree-node[aria-level='2'] > .jstree-anchor[data-file-size].gm-show-file-info > .jstree-anchor-inner,
.jstree-default .jstree-node[aria-level='3'] > .jstree-anchor[data-file-size].gm-show-file-info > .jstree-anchor-inner,
.jstree-default .jstree-node[aria-level='4'] > .jstree-anchor[data-file-size].gm-show-file-info > .jstree-anchor-inner,
.jstree-default .jstree-node[aria-level='1'] > .jstree-anchor[data-file-count].gm-show-file-info > .jstree-anchor-inner,
.jstree-default .jstree-node[aria-level='2'] > .jstree-anchor[data-file-count].gm-show-file-info > .jstree-anchor-inner,
.jstree-default .jstree-node[aria-level='3'] > .jstree-anchor[data-file-count].gm-show-file-info > .jstree-anchor-inner,
.jstree-default .jstree-node[aria-level='4'] > .jstree-anchor[data-file-count].gm-show-file-info > .jstree-anchor-inner {
  width: calc(100% - 46px);
}
.jstree-default .jstree-wholerow {
  height: auto;
}
.jstree-default .jstree-wholerow-hovered {
  background: #eff0f1;
}
.jstree-default .jstree-wholerow-clicked {
  background: #dbeeff;
}
.jstree-default .jstree-icon {
  width: 16px;
  flex-shrink: 0;
}
.jstree-default .jstree-icon,
.jstree-default .jstree-icon:empty,
.jstree-default .jstree-anchor {
  line-height: 24px !important;
  font-style: normal;
}
.jstree-default .jstree-no-dots .jstree-ocl {
  margin-top: -1px;
  width: 20px;
}
.jstree-default .jstree-no-dots .jstree-open > .jstree-ocl,
.jstree-default .jstree-no-dots .jstree-closed > .jstree-ocl {
  background: none;
  position: relative;
  left: 3px;
}
.jstree-default .jstree-no-dots .jstree-open > .jstree-ocl {
  position: relative;
}
.jstree-default .jstree-no-dots .jstree-open > .jstree-ocl:before {
  content: '\f0a3';
  font-family: 'Octicons Regular';
  color: #0f2e47;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 16px;
  line-height: 1;
  position: relative;
  top: 0;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.jstree-default .jstree-no-dots .jstree-open > .jstree-ocl:hover:before {
  color: #0f2e47;
}
.jstree-default .jstree-no-dots .jstree-closed > .jstree-ocl {
  position: relative;
}
.jstree-default .jstree-no-dots .jstree-closed > .jstree-ocl:before {
  content: '\f078';
  font-family: 'Octicons Regular';
  color: #0f2e47;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 16px;
  line-height: 1;
  position: relative;
  top: 0;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.jstree-default .jstree-no-dots .jstree-closed > .jstree-ocl:hover:before {
  color: #0f2e47;
}
.jstree-icon,
.jstree-icon.blob,
.jstree-icon.commit {
  display: inline-block;
  margin-right: 3px;
  text-decoration: none;
  font-smoothing: antialiased;
}
.jstree-icon,
.jstree-icon.commit,
.jstree-icon.default-icon {
  margin-top: 0;
  margin-right: 2px;
}
.jstree-icon {
  position: relative;
}
.jstree-icon:before {
  content: '\f016';
  font-family: 'Octicons Regular';
  color: #6cb5fe;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 16px;
  line-height: 1;
  position: relative;
  top: 0;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.jstree-icon:hover:before {
  color: #6cb5fe;
}
.jstree-icon.commit {
  position: relative;
}
.jstree-icon.commit:before {
  content: '\f017';
  font-family: 'Octicons Regular';
  color: #6a737d;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 16px;
  line-height: 1;
  position: relative;
  top: 0;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.jstree-icon.commit:hover:before {
  color: #6a737d;
}
.jstree-icon.default-icon {
  position: relative;
}
.jstree-icon.default-icon:before {
  content: '\f011';
  font-family: 'Octicons Regular';
  color: #6a737d;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 16px;
  line-height: 1;
  position: relative;
  top: 0;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.jstree-icon.default-icon:hover:before {
  color: #6a737d;
}
.jstree-node.jstree-leaf:hover .jstree-icon.blob {
  position: relative;
}
.jstree-node.jstree-leaf:hover .jstree-icon.blob:before {
  content: '\f07f';
  font-family: 'Octicons Regular';
  color: #ac4142;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  width: 16px;
  line-height: 1;
  position: relative;
  top: 0;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.jstree-node.jstree-leaf:hover .jstree-icon.blob:hover:before {
  color: #ac4142;
}

.jstree-container-ul .jstree-closed > .jstree-ocl::before,
.jstree-container-ul .jstree-open > .jstree-ocl::before {
  color: #fff !important;
}
.jstree-container-ul .jstree-node .jstree-wholerow-clicked {
  background: #183061 !important;
}
.jstree-container-ul .jstree-node .jstree-wholerow-hovered {
  background: #183061 !important;
}
.jstree-container-ul .jstree-node .jstree-anchor {
  color: #d6d8da !important;
}*/

.jstree-node, .jstree-ocl {
    background-image: unset !important;
}

.jstree-icon:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgb(127 127 127 / 30%);
    top: 5px;
    position: relative;
    font-size: 15px;
}

.jstree-ocl {
    width: 15px !important;
}

.jstree-ocl:before {
    top: 4px;
}

.jstree-closed > .jstree-ocl:before {
    content: '\E82C';
}

.jstree-open > .jstree-ocl:before {
    content: '\E829';
}

/*.jstree-themeicon {
    display: none;
}*/

/*.jstree-leaf > .jstree-anchor > .jstree-themeicon {
    display: inline-block;
}*/

/*.jstree-themeicon:before {
    content: '\F114';
}*/

.jstree-node {
    margin-left: 10px !important;
}

.jstree-anchor {
    font-size: 13px !important;
    font-family: Segoe WPC,Segoe UI,Microsoft YaHei,sans-serif;
    opacity: 0.8;
}

html[data-bs-theme=light] .jstree-anchor {
    color: rgb(50, 50, 50) !important;
}

html[data-bs-theme=dark] .jstree-anchor {
    color: rgb(204, 204, 204) !important;
}

.jstree-clicked {
    box-shadow: unset !important;
}

.jstree-default-dark .jstree-clicked {
    background-color: #37373b;
}

.jstree-default-dark .jstree-wholerow-clicked {
    background: #37373b;
}