<div
    style="
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    "
    id="app"
>
    <style type="text/css">
        #mixly-footer {
            width: 100%;
            height: var(--footer-height);
            z-index: 1000;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        html[data-bs-theme=dark] #mixly-footer {
            background-color: rgb(0, 122, 204);
        }

        html[data-bs-theme=light] #mixly-footer {
            background-color: rgb(0 150 136);
        }

        #mixly-footer p {
            white-space: nowrap;
        }
    </style>
    <div
        id="nav-container"
        style="
            width: 100%;
            height: var(--nav-height);
            z-index: 10000;
        "
    ></div>
    <div
        id="mixly-body"
        style="
            width: 100%;
            height: calc(100vh - var(--nav-height) - var(--footer-height));
            position: relative;
            z-index: 1000;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        "
    ></div>
    <div
        id="mixly-footer"
        style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        "
    >
        <div
            style="
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
            "
        >
            <button
                id="mixly-example-menu"
                type="button"
                m-title="{{ d.example }}"
                class="layui-btn layui-btn-xs layui-btn-primary m-btn"
                style="
                    cursor: pointer;
                    border: none;
                    margin-left: 7px;
                    padding: 3px;
                    display: inline-flex;
                    align-items: center;
                "
            >
                <a
                    class="icon-doc-text"
                    style="color:#fff;font-size:12px;line-height:12px;"
                >{{ d.example }}</a>
            </button>
            <div
                id="mixly-footer-cursor"
                style="
                    display: none;
                    font-size: 12px;
                    line-height: 12px;
                    color: #fff;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    margin-left: 10px;
                "
            >
                <div style="display: inline-flex;">
                    <p>{{ d.row }}&nbsp</p>
                    <p id="mixly-footer-row">1</p>
                </div>
                <div style="display: inline-flex;">
                    <p>,&nbsp{{ d.column }}&nbsp</p>
                    <p id="mixly-footer-column">1</p>
                </div>
                <div style="display: none;">
                    <p>,&nbsp{{ d.selected }}&nbsp</p>
                    <p id="mixly-footer-selected"></p>
                </div>
            </div>
        </div>
        <div
            style="
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-end;
                align-items: center;
                font-size:12px;
                line-height:12px;
                color: #fff;
            "
        >
            <div style="
                    display: inline-flex;
                    flex-direction: row;
                    margin: 10px;
                "
            >
                <a
                    class='icon-code'
                    style="color: #fff;"
                ></a>
                <p id="mixly-footer-codelang">{{ d.unknown }}</p>
            </div>
            <!-- <button
                id="mixly-board"
                type="button"
                class="layui-btn layui-btn-xs layui-btn-primary m-btn"
                style="cursor:pointer;border:none;margin:0 10px 0 10px;padding:0 5px;display:inline-flex;align-items:center;"
            >
                <a
                    id="mixly-footer-boardname"
                    class="icon-microchip"
                    style="color:#fff;font-size:12px;line-height:12px;"
                ></a>
            </button> -->
            <div style="
                    display: inline-flex;
                    flex-direction: row;
                    margin-right:10px;
                "
            >
                <a
                    class='icon-microchip'
                    style="color: #fff;"
                ></a>
                <p id="mixly-footer-boardname"></p>
                <div id="mixly-footer-port-div" style="display: none;">
                    <p>&nbsp{{d.on}}&nbsp</p>
                    <p id="mixly-footer-port"></p>
                </div>
            </div>
            <button
                id="mixly-board-config"
                type="button"
                class="layui-btn layui-btn-xs layui-btn-primary m-btn"
                style="
                    cursor: pointer;
                    border: none;
                    margin-right: 7px;
                    padding: 3px;
                    display: inline-flex;
                    align-items: center;
                "
            >
                <a
                    id="mixly-footer-boardconfig"
                    class="icon-cog"
                    style="color:#fff;font-size:12px;line-height:12px;"
                >{{ d.config }}</a>
            </button>
            <button
                id="mixly-message"
                type="button"
                class="layui-btn layui-btn-xs layui-btn-primary m-btn"
                style="
                    cursor: pointer;
                    border: none;
                    margin-left: 0px;
                    margin-right: 7px;
                    padding: 3px;
                    display: inline-flex;
                    align-items: center;
                "
            >
                <a
                    id="mixly-footer-message"
                    class="icon-bell"
                    style="color:#fff;font-size:12px;line-height:12px;"
                >{{ d.message }}</a>
                <!-- <span class="badge text-bg-light" style="
                    margin-left: 3px;
                    font-size: 7px;
                ">4</span> -->
            </button>
        </div>
    </div>
</div>
