<div
    style="
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    "
    id="app"
>
    <style type="text/css">
        #mixly-footer {
            width: 100%;
            height: var(--footer-height);
            z-index: 1000;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        html[data-bs-theme=dark] #mixly-footer {
            background-color: rgb(0, 122, 204);
        }

        html[data-bs-theme=light] #mixly-footer {
            background-color: rgb(0 150 136);
        }

        html[data-bs-theme=dark] #h-container {
            background-color: #181818;
        }

        html[data-bs-theme=light] #h-container {
            background-color: #fff;
        }

        #mixly-footer p {
            white-space: nowrap;
        }
    </style>
    <div
        id="nav-container"
        style="
            width: 100%;
            height: var(--nav-height);
            z-index: 10000;
        "
    ></div>
    <div
        id="mixly-body"
        style="
            width: 100%;
            height: calc(100vh - var(--nav-height) - var(--footer-height));
            position: relative;
            z-index: 1000;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        "
    >
        <!-- <div
            style="
                width: 40px;
                margin: 0;
                background-color: #434343;
                z-index: 3;
            "
        >
            <div
                class="demo-tab-header layui-btn-container"
                id="tabHeader"
                style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                "
            >
                <button id="btn-test" class="layui-btn layui-btn-sm layui-btn-primary"
                    style="
                        margin: 5px 0;
                        width: 100%;
                        height: 40px;
                        border: unset;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;
                    "
                >
                    <svg t="1696333297484" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4048" width="64" height="64"><path d="M912 208H427.872l-50.368-94.176A63.936 63.936 0 0 0 321.056 80H112c-35.296 0-64 28.704-64 64v736c0 35.296 28.704 64 64 64h800c35.296 0 64-28.704 64-64v-608c0-35.296-28.704-64-64-64z m-800-64h209.056l68.448 128H912v97.984c-0.416 0-0.8-0.128-1.216-0.128H113.248c-0.416 0-0.8 0.128-1.248 0.128V144z m0 736v-96l1.248-350.144 798.752 1.216V784h0.064v96H112z" fill="#ffffff" p-id="4049"></path></svg>
                    <a style="
                        height: 20px;
                        width: 100%;
                        line-height: 24px;
                        text-align: center;
                    ">文件</a>
                    <div id="before-test" style="position: absolute;width: 100%;height: 40px;top: 0; left: 0;">
                        
                    </div>
                </button>
            </div>
        </div>
        <div id="test-left" style="width: 100%;height: 100%;position: relative;">
            <div style="width: 0%;z-index: 1;position: relative;">
                <div id="test-tree" style="
                    overflow: hidden;
                    position: absolute;
                    border: 1px solid rgb(81, 80, 80);
                    background-color: rgb(37, 37, 38);
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                "></div>
            </div>
            <div style="width: 100%;height: 100%; display: flex;flex-direction: column;">
                <div
                    id="h-container"
                    style="
                        width: 100%;
                        height: 100%;
                        position: relative;
                    "
                >
                    <div
                        id="v-container"
                        style="
                            width: 100%;
                            height: 100%;
                            position: relative;
                        "
                    >
                    </div>
                    <div
                        id="td_middle"
                        style="
                            width: 100%;
                            height: 0%;
                            position: relative;
                        "
                    >
                        <div 
                            class="layui-tab layui-tab-card"
                            lay-allowclose="true"
                            lay-filter="status-bar-ace"
                            style="height:100%;margin-top: 0px;margin-bottom: 0px;position: relative;"
                        >
                            <ul class="layui-tab-title">
                            </ul>
                            <div class="layui-tab-content" style="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div
        id="mixly-footer"
        style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        "
    >
        <div
            style="
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
            "
        >
            <button
                id="mixly-example-menu"
                type="button"
                m-title="{{ d.example }}"
                class="layui-btn layui-btn-xs layui-btn-primary m-btn"
                style="
                    cursor: pointer;
                    border: none;
                    margin-left: 7px;
                    padding: 3px;
                    display: inline-flex;
                    align-items: center;
                "
            >
                <a
                    class="icon-doc-text"
                    style="color:#fff;font-size:12px;line-height:12px;"
                >{{ d.example }}</a>
            </button>
            <div
                id="mixly-footer-cursor"
                style="
                    display: none;
                    font-size: 12px;
                    line-height: 12px;
                    color: #fff;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    margin-left: 10px;
                "
            >
                <div style="display: inline-flex;">
                    <p>{{ d.row }}&nbsp</p>
                    <p id="mixly-footer-row">1</p>
                </div>
                <div style="display: inline-flex;">
                    <p>,&nbsp{{ d.column }}&nbsp</p>
                    <p id="mixly-footer-column">1</p>
                </div>
                <div style="display: none;">
                    <p>,&nbsp{{ d.selected }}&nbsp</p>
                    <p id="mixly-footer-selected"></p>
                </div>
            </div>
        </div>
        <div
            style="
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-end;
                align-items: center;
                font-size:12px;
                line-height:12px;
                color: #fff;
            "
        >
            <div style="
                    display: inline-flex;
                    flex-direction: row;
                    margin: 10px;
                "
            >
                <a
                    class='icon-code'
                    style="color: #fff;"
                ></a>
                <p id="mixly-footer-codelang">{{ d.unknown }}</p>
            </div>
            <!-- <button
                id="mixly-board"
                type="button"
                class="layui-btn layui-btn-xs layui-btn-primary m-btn"
                style="cursor:pointer;border:none;margin:0 10px 0 10px;padding:0 5px;display:inline-flex;align-items:center;"
            >
                <a
                    id="mixly-footer-boardname"
                    class="icon-microchip"
                    style="color:#fff;font-size:12px;line-height:12px;"
                ></a>
            </button> -->
            <div style="
                    display: inline-flex;
                    flex-direction: row;
                    margin-right:10px;
                "
            >
                <a
                    class='icon-microchip'
                    style="color: #fff;"
                ></a>
                <p id="mixly-footer-boardname"></p>
                <div id="mixly-footer-port-div" style="display: none;">
                    <p>&nbsp{{d.on}}&nbsp</p>
                    <p id="mixly-footer-port"></p>
                </div>
            </div>
            <button
                id="mixly-board-config"
                type="button"
                class="layui-btn layui-btn-xs layui-btn-primary m-btn"
                style="
                    cursor: pointer;
                    border: none;
                    margin-right: 7px;
                    padding: 3px;
                    display: inline-flex;
                    align-items: center;
                "
            >
                <a
                    id="mixly-footer-boardconfig"
                    class="icon-cog"
                    style="color:#fff;font-size:12px;line-height:12px;"
                >{{ d.config }}</a>
            </button>
            <button
                id="mixly-message"
                type="button"
                class="layui-btn layui-btn-xs layui-btn-primary m-btn"
                style="
                    cursor: pointer;
                    border: none;
                    margin-left: 0px;
                    margin-right: 7px;
                    padding: 3px;
                    display: inline-flex;
                    align-items: center;
                "
            >
                <a
                    id="mixly-footer-message"
                    class="icon-bell"
                    style="color:#fff;font-size:12px;line-height:12px;"
                >{{ d.message }}</a>
                <!-- <span class="badge text-bg-light" style="
                    margin-left: 3px;
                    font-size: 7px;
                ">4</span> -->
            </button>
        </div>
    </div>
</div>
