<div style="height: 100%;width: 100%;">
    <style type="text/css">
        div[m-id="{{d.mId}}"] {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            height: 100%;
            width: 100%;
        }

        div[m-id="{{d.mId}}"] > .left-tabs {
            width: 40px;
            margin: 0;
            z-index: 3;
            display: none;
        }

        html[data-bs-theme=light] div[m-id="{{d.mId}}"] > .left-tabs {
            background-color: #ddd;
        }

        html[data-bs-theme=dark] div[m-id="{{d.mId}}"] > .left-tabs {
            background-color: #434343;
        }

        div[m-id="{{d.mId}}"] > .drag-v {
            position: relative;
            width: 100%;
            height: 100%;
        }

        div[m-id="{{d.mId}}"] > .drag-v > .sidebar-container {
            position: relative;
            width: 0%;
            height: 100%;
            overflow: hidden;
            z-index: 3;
        }

        div[m-id="{{d.mId}}"] > .drag-v > .sidebar-container > .sidebar {
            overflow: hidden;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            border: 1px solid;
        }

        html[data-bs-theme=light] div[m-id="{{d.mId}}"] > .drag-v > .sidebar-container > .sidebar {
            border-color: #e5e5e5;
            background-color: rgb(248, 248, 248);
        }

        html[data-bs-theme=dark] div[m-id="{{d.mId}}"] > .drag-v > .sidebar-container > .sidebar {
            border-color: var(--lay-color-border-1);
            background-color: rgb(37, 37, 38);
        }

        div[m-id="{{d.mId}}"] > .drag-v > .drag-h {
            width: 100%;
            height: 100%;
        }

        div[m-id="{{d.mId}}"] > .drag-v > .drag-h > .editor {
            width: 100%;
            height: 100%;
        }

        .statusbar-tabs {
            position: relative;
            width: 100%;
            height: 0%;
        }

        .statusbar-tabs > .layui-tab {
            margin: 0px;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }

        .statusbar-tabs > div > ul > li:nth-child(1) > i {
            display: none;
        }

        @media screen and (min-width: 1701px) {
            .statusbar-tabs > div > div {
                top: 25px;
            }

            .statusbar-tabs > div > ul {
                height: 25px;
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
            }

            .statusbar-tabs > div > ul li {
                line-height: 25px;
                font-size: 14px;
                padding-right: 13px;
                padding-left: 13px;
            }

            .statusbar-tabs > div > ul .layui-this:after {
                height: 25px;
            }

            .statusbar-tabs > div > ul li .layui-tab-close {
                width: 15px;
                height: 15px;
                line-height: 15px;
                font-size: 14px;
                margin-left: 7px;
                top: 0px;
            }

            .layui-badge-dot {
                left: 4px !important;
                top: -1px !important;
                width: 8px;
                height: 8px;
            }
        }

        @media screen and (max-width: 1700px) {
            .statusbar-tabs > div > div {
                top: 20px;
            }

            .statusbar-tabs > div > ul {
                height: 20px;
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
            }

            .statusbar-tabs > div > ul li {
                line-height: 20px;
                font-size: 12px;
                padding-right: 7px;
                padding-left: 7px;
            }

            .statusbar-tabs > div > ul .layui-this:after {
                height: 20px;
            }

            .statusbar-tabs > div > ul li .layui-tab-close {
                width: 13px;
                height: 13px;
                line-height: 15px;
                font-size: 10px;
                margin-left: 6px;
                top: 0px;
            }

            .layui-badge-dot {
                left: 2px !important;
                top: -1.5px !important;
                width: 6px;
                height: 6px;
            }

            html[data-bs-theme=light] .tab-btn {
                width: 23px;
                height: 20px;
                line-height: 20px;
                padding: 0 3px;
            }

            html[data-bs-theme=dark] .tab-btn {
                width: 23px;
                height: 20px;
                line-height: 20px;
                padding: 0 3px;
            }
        }

        .statusbar-tabs > div > div {
            padding: 0px;
            position: absolute;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }

        .tab-ace {
            width: auto;
            height: 100%;
            border: solid #ddd;
            border-width: 0px;
            border-radius: 0px;
            word-break: normal;
            text-align: left;
            resize: none;
        }
    </style>
    <div m-id="{{d.mId}}">
        <div class="left-tabs">
            <button id="btn-test" class="layui-btn layui-btn-sm layui-btn-primary"
                style="
                    margin: 5px 0;
                    width: 100%;
                    height: 40px;
                    border: unset;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                "
            >
                <svg t="1696333297484" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4048" width="64" height="64"><path d="M912 208H427.872l-50.368-94.176A63.936 63.936 0 0 0 321.056 80H112c-35.296 0-64 28.704-64 64v736c0 35.296 28.704 64 64 64h800c35.296 0 64-28.704 64-64v-608c0-35.296-28.704-64-64-64z m-800-64h209.056l68.448 128H912v97.984c-0.416 0-0.8-0.128-1.216-0.128H113.248c-0.416 0-0.8 0.128-1.248 0.128V144z m0 736v-96l1.248-350.144 798.752 1.216V784h0.064v96H112z" fill="#ffffff" p-id="4049"></path></svg>
                <a style="
                    height: 20px;
                    width: 100%;
                    line-height: 24px;
                    text-align: center;
                ">文件</a>
                <div id="before-test" style="position: absolute;width: 100%;height: 40px;top: 0; left: 0;"></div>
            </button>
        </div>
        <div class="drag-v">
            <div class="sidebar-container">
                <div class="sidebar"></div>
            </div>
            <div class="drag-h">
                <div class="editor"></div>
                <div class="statusbar-tabs">
                    <div class="layui-tab layui-tab-card" lay-allowclose="true" lay-filter="{{d.statusBarTabsFilter}}">
                        <ul class="layui-tab-title">
                        </ul>
                        <div class="layui-tab-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>