<style>
    div[m-id="{{d.mId}}"] {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        height: 100%;
        width: 100%;
    }

    div[m-id="{{d.mId}}"] > .left-tabs {
        width: 40px;
        margin: 0;
        z-index: 3;
        display: none;
    }

    html[data-bs-theme=light] div[m-id="{{d.mId}}"] > .left-tabs {
        background-color: #ddd;
    }

    html[data-bs-theme=dark] div[m-id="{{d.mId}}"] > .left-tabs {
        background-color: #434343;
    }

    div[m-id="{{d.mId}}"] .drag-item {
        position: relative;
        width: 100%;
        height: 100%;
    }

    div[m-id="{{d.mId}}"] .drag-v-left {
        position: relative;
        width: 100%;
        height: 100%;
    }

    div[m-id="{{d.mId}}"] .drag-v-right {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    div[m-id="{{d.mId}}"] .sidebar-container {
        position: relative;
        width: 0%;
        height: 100%;
        overflow: hidden;
        z-index: 3;
        display: none;
    }

    div[m-id="{{d.mId}}"] .sidebar-container > .sidebar {
        overflow: hidden;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border: 1px solid;
    }

    html[data-bs-theme=light] div[m-id="{{d.mId}}"] .sidebar-container > .sidebar {
        border-color: #c9c9c9;
        background-color: #f8f8f8;
    }

    html[data-bs-theme=dark] div[m-id="{{d.mId}}"] .sidebar-container > .sidebar {
        border-color: var(--lay-color-border-1);
        background-color: #252526;
    }

    div[m-id="{{d.mId}}"] .drag-h {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    div[m-id="{{d.mId}}"] .drag-h > .editor {
        width: 100%;
        height: 100%;
    }

    .statusbar-tabs {
        position: relative;
        width: 100%;
        height: 0%;
        display: none;
    }
</style>
<div m-id="{{d.mId}}">
    <div class="left-tabs">
    </div>
    <div class="drag-v-left">
        <div class="sidebar-container">
            <div class="sidebar left-sidebar"></div>
        </div>
        <div class="drag-item">
            <div class="drag-v-right">
                <div class="drag-item">
                    <div class="drag-h">
                        <div class="editor"></div>
                        <div class="statusbar-tabs">
                        </div>
                    </div>
                </div>
                <div class="sidebar-container">
                    <div class="sidebar right-sidebar"></div>
                </div>
            </div>
        </div>
    </div>
</div>