<div class="card text-center">
    <div class="card-header">
        映射目录
        <i class="close-btn layui-icon layui-icon-close"></i>
    </div>
    <div class="card-body">
        <div class="input-group flex-nowrap input-group-sm mb-3">
            <span class="input-group-text" id="addon-wrapping">注释</span>
            <input class="form-control form-control-sm" type="text" placeholder="注释信息">
        </div>
        <div class="input-group flex-nowrap input-group-sm mb-3">
            <span class="input-group-text" id="addon-wrapping">路径</span>
            <input class="form-control form-control-sm" type="text" placeholder="本地映射目录">
            <button type="button" class="btn btn-primary btn-sm self-adaption-btn m-btn">选择目录</button>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-primary btn-sm self-adaption-btn m-btn" type="button">下载</button>
            <button class="btn btn-primary btn-sm self-adaption-btn m-btn" type="button">上传</button>
        </div>
    </div>
</div>