<style>
    div[m-id="{{d.mId}}"] {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    div[m-id="{{d.mId}}"] > .progress {
        height: 3px;
        border-radius: 0;
        display: none;
    }

    html[data-bs-theme=light] div[m-id="{{d.mId}}"] > .progress .bar-bg {
        background-color: #fff;
    }

    html[data-bs-theme=dark] div[m-id="{{d.mId}}"] > .progress .bar-bg {
        background-color: #000;
    }

    div[m-id="{{d.mId}}"] > .terminal {
        width: auto;
        height: 100%;
        border: solid #ddd;
        border-width: 0px;
        border-radius: 0px;
        word-break: normal;
        text-align: left;
        resize: none;
    }

    div[m-id="{{d.mId}}"] > .draw-container {
        height: 500px;
        padding: 20px 15px 15px 15px;
    }

    div[m-id="{{d.mId}}"] > .draw-container > .draw {
        width: 100%;
        height: 100%;
        position: relative;
    }

    div[m-id="{{d.mId}}"] > .draw-container > .draw .flot-y-axis {
        display: flex;
        flex-direction: column;
    }

    div[m-id="{{d.mId}}"] > .draw-container > .draw .flot-y-axis > text {
        position: relative;
    }
</style>
<div m-id="{{d.mId}}">
    <div class="progress"></div>
    <pre class="terminal" align="center"></pre>
    <div class="draw-container">
        <div class="draw"></div>
    </div>
<div>