div.layui-form.layui-border-box.layui-table-view {
    margin:0px !important;
}

div.layui-form.layui-border-box.layui-table-view {
    margin: 0px !important;
    position: relative;
    height: 100%;
    border-width: 0px;
}

div.layui-form.layui-border-box.layui-table-view > div.layui-table-tool {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 15px;
    height: 50px;
    left: 0px;
}

div.layui-form.layui-border-box.layui-table-view > div.layui-table-box {
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    bottom: 0px;
    width: 100%;
    left: 0px;
    top: 50px;
}

/*div.layui-form.layui-border-box.layui-table-view > div.layui-table-box > div.layui-table-header {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 38px;
    width: 100%;
    border-bottom-width: 0px;
    border-right-width: 17px;
}*/

div.layui-form.layui-border-box.layui-table-view > div.layui-table-tool > div.layui-table-tool-temp {
    padding-right: 0px !important;
}

div.layui-form.layui-border-box.layui-table-view > div.layui-table-box > div.layui-table-header > table {
    width: 100%;
}

div.layui-form.layui-border-box.layui-table-view > div.layui-table-box > div.layui-table-body.layui-table-main {
    overflow-x: auto;
    overflow-y: scroll;
    position: absolute;
    top: 38px;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

/*div.layui-form.layui-border-box.layui-table-view > div.layui-table-box > div > table > thead > tr > th > div > div {
    top:6px !important;
}

div.layui-form.layui-border-box.layui-table-view > div.layui-table-box > div > table > tbody > tr > td > div > div {
    top:6px !important;
}*/

div.layui-form.layui-border-box.layui-table-view > div.layui-table-box > div.layui-table-body.layui-table-main > table {
    width: 100%;
}

.layui-table-body {
    margin-right: 0px;
    /margin-bottom: 0px;
}

.dark .layui-layer-title {
    border-bottom: 1px solid #5d5a5a;
}

.dark .layui-tab-title {
    background-color: #6c6969;
}

.dark .layui-tab-title .layui-this {
    color: #fff;
}

.dark .layui-tab-title li {
    color: #fff;
}

.dark .layui-tab-content {
    border-color: #6c6969;
}

.dark .layui-table td, .dark .layui-table th, .dark .layui-table-col-set, .dark .layui-table-fixed-r, .dark .layui-table-grid-down, .dark .layui-table-header, .dark .layui-table-page, .dark .layui-table-tips-main, .dark .layui-table-tool, .dark .layui-table-total, .dark .layui-table-view, .dark .layui-table[lay-skin=line], .dark .layui-table[lay-skin=row] {
    border-color: #4d4848;
}

.dark .layui-table {
    background-color: #726c6c;
    color: #fff;
}

.dark .layui-layer-dialog .layui-layer-content {
    color: #fff;
}

.dark.layui-layer-page {
    background-color: #726c6c;
}

.layui-layer-resize {
    width: 5px !important;
    height: 10px !important;
    border-radius: 0px 0px 5px 0px;
}

.light .layui-layer-resize {
    background-color: #fff;
}

.layui-table-body {
    margin: 0px;
}

/*
.layui-btn:hover {
    box-shadow: 2px 2px 5px #888;
}
*/

.dark .layui-input, .dark .layui-select, .dark .layui-textarea {
    background-color: #4c4a4a;
    color: #fff;
    /*height: 40px;*/
}

.dark .layui-form-pane .layui-form-label {
    background-color: #5f5d5d;
    color: #fff;
}

.layui-table-header {
    border-right-width: 10px !important;
}

.dark .layui-carousel[lay-indicator=outside] .layui-carousel-ind ul {
    background-color: rgb(141 135 135 / 50%);
}

.light .layui-carousel[lay-indicator=outside] .layui-carousel-ind ul {
    background-color: rgb(130 129 129 / 50%);
}

.light #footer > div > p {
    color: #888;
}

.light .layui-carousel-arrow {
    background-color: rgba(0,0,0,.2);
}

.light .layui-carousel-arrow:hover, .light .layui-carousel-ind ul:hover {
    background-color: rgba(0,0,0,.35);
}

.light .service-single {
    background: #fff;
}

.light .service-single h2 {
    color: #232323;
}

.dark #footer > div > p {
    color: #fff;
}

.dark .service-single {
    background: #202020;
}

.dark .service-single h2 {
    color: #fff;
}

body[class="light"] {
    background-color: #fff !important;
}

body[class="dark"] {
    background-color: #181818 !important;
    color: #fff;
}

.mixly-board:hover .mixly-board-del-btn, .mixly-board:hover .mixly-board-ignore-btn {
    display: block;
}

/*.mixly-board:hover .service-single label {
    opacity: 1;
}

.mixly-board .service-single label {
    opacity: 0;
}

.mixly-board:hover .service-single h2 {
    margin-bottom: 10px;
}*/

.dark .mixly-board .service-single label {
    color: #ccc;
}

.light .mixly-board .service-single label {
    color: #888;
}

.mixly-board-del-btn, .mixly-board-ignore-btn {
    display: none;
    background-color: rgba(0,0,0,0);
    border: 0px;
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    right: 15px;
    top: 5px;
    opacity: 0.5;
    color: #666;
}

.dark .mixly-board-del-btn, .dark .mixly-board-ignore-btn {
    color: #ccc;
}

.mixly-board-del-btn:hover, .mixly-board-ignore-btn:hover {
    opacity: 1;
}

.dark .layui-badge-rim, .layui-border,
.dark .layui-colla-content,
.dark .layui-colla-item,
.dark .layui-collapse, .layui-elem-field,
.dark .layui-form-pane .layui-form-item[pane],
.dark .layui-form-pane .layui-form-label,
.dark .layui-input, .layui-layedit,
.dark .layui-layedit-tool,
.dark .layui-panel,
.dark .layui-quote-nm,
.dark .layui-select,
.dark .layui-tab-bar,
.dark .layui-tab-card,
.dark .layui-tab-title,
.dark .layui-tab-title .layui-this:after,
.dark .layui-textarea {
    border-color: #493e3e;
}

.dark .layui-panel {
    background-color: #615959;
}

.dark .layui-card-header {
    color: #fff;
    border-bottom: 1px solid #484040;
}

.dark .layui-card-body {
    color: #fff;
}

.dark .layui-progress-text {
    color: #fff;
}

.dark .layui-layer-page {
    background-color: #7d7979;
}

.layui-table-fixed-r > .layui-table-header {
    border-bottom-width: 0px;
}

.layui-table-fixed-r > .layui-table-body > table {
    width: 100%;
}

.dark .layui-table-body .layui-none {
    color: #fff;
}

.dark .layui-form-checkbox[lay-skin=primary] span {
    color: #fff;
}

.light .layui-layer-setwin span {
    color: #777;
}

.dark .layui-layer-setwin span {
    color: #fff;
}

/* 折叠卡片 */
.dark .layui-colla-title {
    color: #fff;
    background-color: #656161;
}

.dark .layui-colla-content {
    color: #fff;
}

.dark .layui-layer-dialog {
    background-color: #807b7b;
}

.dark .layui-layer-btn a {
    color: #fff;
    border: 1px solid #765454;
    background-color: #575353;
}