<style>
    div[m-id="{{d.mId}}"] {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    div[m-id="{{d.mId}}"] button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    div[m-id="{{d.mId}}"] button.title {
        white-space: nowrap;
        margin: 2px 0px;
        padding: 0px;
    }

    div[m-id="{{d.mId}}"] button.title > p {
        width: 100%;
        text-align: right;
        font-size: 14px;
        line-height: 14px;
    }

    html[data-bs-theme=light] div[m-id="{{d.mId}}"] button.title {
        background-color: #ffffff;
        border: 1px #fff;
        color: #000;
        font-size: 14px;
    }

    html[data-bs-theme=light] div[m-id="{{d.mId}}"] button.title:hover {
        color: #a5a5a5;
    }

    html[data-bs-theme=dark] div[m-id="{{d.mId}}"] button.title {
        background-color: #252525;
        border: 1px transparent;
        color: #fff;
        font-size: 14px;
    }

    html[data-bs-theme=dark] div[m-id="{{d.mId}}"] button.title:hover {
        color: var(--lay-color-text-2);
    }

    div[m-id="{{d.mId}}"] button.option {
        margin: 2px 0px;
    }

    html[data-bs-theme=light] div[m-id="{{d.mId}}"] button.option {
        background-color: var(--app-light-color);
    }

    html[data-bs-theme=dark] div[m-id="{{d.mId}}"] button.option {
        background-color: #007ACC;
    }


    .footer-layer-board-config .footer-layer-btn.reset {
        font-size: 13px;
        line-height: 12px;
    }

    .board-config-menu {
        display: inline-block;
        border: 1px solid #454545 !important;
        box-shadow: 0 2px 5px rgb(0 0 0 / 50%) !important;
        animation-name: unset;
    }

    html[data-bs-theme=dark] .board-config-menu,
    html[data-bs-theme=dark] .board-config-menu > ul {
        background-color: #252526 !important;
    }

    .board-config-menu > .layui-dropdown-menu {
        max-height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .board-config-menu > .layui-dropdown-menu > li {
        font-size: 14px;
        line-height: 14px;
        border-radius: 5px;
        box-sizing: content-box;
        padding: 5px 10px !important;
        margin: 0px 5px;
        border-radius: 5px !important;
        transition: none;
        -webkit-transition: none;
    }

    .board-config-menu li.selected > div,
    .board-config-menu li:hover > div {
        color: #fff;
    }

    html[data-bs-theme=light] .board-config-menu li.selected {
        background-color: rgb(0 150 136 / 60%) !important;
    }

    html[data-bs-theme=light] .board-config-menu li:hover {
        background-color: var(--app-light-color);
    }

    html[data-bs-theme=dark] .board-config-menu li.selected {
        background-color: rgb(41 128 185 / 60%) !important;
    }

    html[data-bs-theme=dark] .board-config-menu li:hover {
        background-color: #2980b9;
    }
</style>
<div m-id="{{d.mId}}">
    {{# layui.each(d.options, function(index, item){ }}
    <button
        mid="{{ item.key }}-label"
        class="layui-btn layui-btn-fluid layui-btn-xs title">
        <p>{{ item.name }}</p>
    </button>
    <p>&nbsp:&nbsp</p>
    <button
        mid="{{ item.key }}"
        class="layui-btn layui-btn-fluid layui-btn-xs option">
        <p style="font-size: 13px;">{{ item.label }}</p>
        <i class="layui-icon layui-icon-triangle-d"></i>
    </button>
    {{# }); }}
</div>