<div style="width: 100%;position: relative;height: 33px;padding-bottom: 3px;">
	<input
		m-id="search-area"
		type="text"
		placeholder="{{d.search}}"
		autocomplete="off"
		autocorrect="off"
		autocapitalize="off"
		spellcheck="false"
		class="layui-input"
		style="
		position: absolute;
		top: 2px;
		left: 3px;
		right: 44px;
		height: 30px;
		width: auto;"
	>
	<button
		class="layui-btn layui-btn-sm layui-btn-normal layui-btn-disabled"
		style="
		position: absolute;
		top: 2px;
		right: 2px;
		width: 40px;"
	>
		<i class="layui-icon layui-icon-search layui-font-12">
		</i>
	</button>
</div>